*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Ubuntu', sans-serif;
}

audio{
    display: none;
}

.wrapper{
    position: relative;
    background-color: rgb(33, 33, 33);
    width:100%;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.main-circle{
    position: absolute;
    width:250px;
    height: 250px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;
    color:blanchedalmond;
    font-weight: bold;
    pointer-events: none;
}

.eq-rect{
    position: absolute;
    top:50%;
    left: 50%;
    width:20px;
    min-height: 100px;
    /* background-color: rgb(51, 156, 163); */
    transform-origin: top left;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.square{
    border:5px solid;
    border-image-slice: 1;
    background-color: transparent;
}

.four-square{
    border:20px solid;
    background-color: transparent;
}

.circle{
    border-radius: 50%;
    border:10px solid;
}

.looper{
    position:fixed;
    top:0;
    right:-100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display:flex;
    justify-content: center;
    align-items: center;
}

.looper-box{
    width: 900px;
    height: 600px;
    background-color: #96352e;
    color:blanchedalmond;
    padding:20px;
    font-size: 25px;
    text-transform: uppercase;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.looper-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.looper-controls{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.play,
.pause{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.loop-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.loop-el{
    display: flex;
    margin:20px 0;
    align-items: center;
}

.tacts{
    width: 85%;
    display: flex;
}

.loop-instrument{
    width:15%;
    font-weight: 700;
}

.tact{
    width:25%;
    padding:5px;
    margin:0 15px;
    display: flex;
}

.sound{
    width: 25%;
    height: 45px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #279694;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.active{
    background-color: #76E35D;
}

.active-sound{
    opacity: .5;
}

.looper-add{
    position: absolute;
    top:5%;
    right: 5%;
    color:blanchedalmond;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 999999!important;
    font-weight: bold;
    font-size: 20px;
}

.tempo-box{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.tempo-title{
    margin-right: 50px;
}

.tempo-input{
    color:blanchedalmond;
    border:none;
    background-color: transparent;
    font-size: 20px;
}

.active-looper{
    right:0!important;
}

.loop-icon{
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

@keyframes appear{
    0%{
        right:-100%;
    }

    100%{
        right:0;
    }
}

@keyframes disapear{
    0%{
        right:0;
    }

    100%{
        right:-100%;
    }
}

@keyframes pulse{
    0%{
        font-size: 20px;
    }

    50%{
        font-size: 25px;
    }

    100%{
        font-size: 20px;
    }
}

.appear{
    animation: appear 1s;
    -webkit-animation: appear 1s forwards;
}

.disappear{
    animation: disapear 1s;
    -webkit-animation: disapear 1s forwards;
}

.pulse{
    animation: pulse 2s both infinite;
    -webkit-animation: pulse 2s both infinite;
}

.disactive-control{
    pointer-events: none;
    opacity: .5;
}

@media (max-width:991.98px){
    .looper-box{
        width: 750px;
    }

    .tact{
        margin:0 5px;
    }
}

@media (max-width:767.98px){
    .looper{
        padding:10px;
    }

    .looper-box{
        width:100%;
        height: 100%;
        padding:5px;
        padding-top: 50px;
        border-top-left-radius: 75px;
        border-bottom-right-radius: 75px;
    }

    .loop-instrument{
        font-size: 15px;
    }

    .tacts{
        flex-wrap: wrap;
    }

    .tact{
        padding:0;
        width:45%;
    }

    .sound{
        height: 30px;
        margin:5px 2px;
    }

    .looper-add{
        top:3%;
    }
}