*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

audio{
    display: none;
}

.wrapper{
    position: relative;
    background-color: rgb(33, 33, 33);
    width:100%;
    height: 100vh;
    overflow: hidden;
}

.main-circle{
    position: absolute;
    width:250px;
    height: 250px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;
    color:blanchedalmond;
    font-weight: bold;
    pointer-events: none;
}

.eq-rect{
    position: absolute;
    top:50%;
    left: 50%;
    width:20px;
    min-height: 100px;
    background-color: blue;
    transform-origin: top left;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.square{
    border:5px solid;
    border-image-slice: 1;
    background-color: transparent;
}

.four-square{
    border:20px solid;
    background-color: transparent;
}

.circle{
    border-radius: 50%;
    border:10px solid;
}

.looper{
    position:fixed;
    top:0;
    left:0;
    z-index: 999999!important;
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.looper-box{
    
}